<div id="add_user_dialog" class="_user_dialog" ng-cloak>

    <form name="addUser" novalidate>
    
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create New User</h3>
        </div>
        
        <div class="modal-body" id="modal-body">

            <!-- Username -->
            <div class="form-group" ng-class="{ 'has-error': addUser.username.$invalid && !addUser.username.$pristine }">
                <label>Username</label>
                <input class="form-control"
                       type="text"
                       name="username"
                       autofocus
                       ng-model="username"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Username"
                       required
                       ng-maxlength="15" />

                <div id="username_error_msg" class="help-block" ng-messages="addUser.username.$error" role="alert" ng-show="addUser.username.$invalid && !addUser.username.$pristine">
                    <div id="username_required_error_msg" ng-message="required">Username is required.</div>
                    <div id="username_too_long_error_msg" ng-message="maxlength">Username is too long.</div>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group" ng-class="{ 'has-error': addUser.password.$invalid && !addUser.password.$pristine }">
                <label>Password</label>
                <input class="form-control"
                       type="password"
                       name="password"
                       ng-model="password"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Password"
                       required
                       ng-minlength="4"
                       ng-maxlength="10" />

                <div id="password_error_msg" class="help-block" ng-messages="addUser.password.$error" role="alert" ng-show="addUser.password.$invalid && !addUser.password.$pristine">
                    <div id="password_required_error_msg" ng-message="required">Password is required.</div>
                    <div id="password_too_short_error_msg" ng-message="minlength">Password is too short.</div>
                    <div id="password_too_long_error_msg" ng-message="maxlength">Password is too long.</div>
                </div>
            </div>

            <!-- Password 2 -->
            <div class="form-group" ng-class="{ 'has-error': addUser.password2.$invalid && !addUser.password2.$pristine }">
                <label>Password</label>
                <input class="form-control"
                       type="password"
                       name="password2"
                       ng-model="password2"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Repeat password"
                       required
                       ng-minlength="4"
                       ng-maxlength="10"
                       match-password="password" />

                <div id="password2_error_msg" class="help-block" ng-messages="addUser.password2.$error" role="alert" ng-show="addUser.password2.$invalid && !addUser.password2.$pristine">
                    <div id="password2_required_error_msg" ng-message="required">Password is required.</div>
                    <div id="passwords_doesnt_match_error_msg" ng-message="passwordMatch">Passwords doesn't match.</div>
                </div>
            </div>

            <!-- Admin -->
            <input type="checkbox"
                   ng-model="admin"
                   ng-init="admin=false">
            <label>Administrator</label>

            <br><br>

            <!-- Calories expected per day -->
            <div class="form-group" ng-class="{ 'has-error': addUser.calories_expected_per_day.$invalid && !addUser.calories_expected_per_day.$pristine }">
                <label>Calories expected per day</label>
                <input class="form-control"
                       type="number"
                       name="calories_expected_per_day"
                       ng-model="calories_expected_per_day"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Calories expected per day"
                       required
                       min="0"
                       max="10000" />

                <div id="calories_expected_per_day_error_msg" class="help-block" ng-messages="addUser.calories_expected_per_day.$error" role="alert" ng-show="addUser.calories_expected_per_day.$invalid && !addUser.calories_expected_per_day.$pristine">
                    <div id="calories_expected_per_day_required_error_msg" ng-message="required">Calories expected per day is required.</div>
                    <div id="calories_expected_per_day_min_error_msg" ng-message="min">Calories expected per day should be equal or greater than 0.</div>
                    <div id="calories_expected_per_day_max_error_msg" ng-message="max">Calories expected per day should be equal or less than 10000.</div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button id="add_user_btn" class="btn btn-success" type="submit" ng-disabled="addUser.$invalid" ng-click="saveUser()">&#10003; Save Changes</button>
            <button id="cancel_add_user_btn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        
    </form>
    
</div>




