<div id="add_user_dialog" class="_user_dialog" ng-cloak>

    <form name="addModifyMeal" novalidate>
    
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" ng-show="add_dialog">Add New Meal</h3>
            <h3 class="modal-title" id="modal-title" ng-hide="add_dialog">Edit Meal</h3>
        </div>
        
        <div class="modal-body" id="modal-body">

            <!-- Datetime -->
            <label>Datetime</label>
            <table style="vertical-align='middle'; width: 380px;">
                <tr style="float='left'">
                    <td class="form-group" ng-class="{ 'has-error': addModifyMeal.date.$invalid && !addModifyMeal.date.$pristine }">
                        <input id="meal_date"
                               class="form-control"
                               name="date" 
                               type="text" 
                               autofocus
                               uib-datepicker-popup="MM/dd/yyyy"
                               ng-model="date" 
                               ng-model-options="{ debounce: 250 }"
                               is-open="datePopup.opened" 
                               datepicker-options="dateOptions" 
                               close-text="Close"
                                required />
                     </td>
                     <td style="padding='5px'">
                        <button class="btn btn-default" type="button" ng-click="openDate()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </td>
                    <td style="padding='10px'" class="form-group" ng-class="{ 'has-error': addModifyMeal.time.$invalid && !addModifyMeal.time.$pristine }">
                        <div id="meal_time"
                             uib-timepicker
                             ng-model="time"
                             name="time"
                             show-meridian="false"
                             required />
                    </td>
                </tr>
            </table> 
            <div id="datetime_error_msg" class="help-block" ng-messages="addModifyMeal.date.$error || addModifyMeal.time.$error" role="alert" ng-show="(addModifyMeal.date.$invalid && !addModifyMeal.date.$pristine) || (addModifyMeal.time.$invalid && !addModifyMeal.time.$pristine)">
                <div id="datetime_invalid_error_msg" class="has-error">Datetime is invalid.</div>
            </div>
            
            <br/>

            <!-- Description -->
            <div class="form-group" ng-class="{ 'has-error': addModifyMeal.description.$invalid && !addModifyMeal.description.$pristine }">
                <label>Description</label>
                <input class="form-control"
                       type="text"
                       name="description"
                       ng-model="description"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Description"
                       required
                       ng-maxlength="200" />

                <div id="description_error_msg" class="help-block" ng-messages="addModifyMeal.description.$error" role="alert" ng-show="addModifyMeal.description.$invalid && !addModifyMeal.description.$pristine">
                    <div id="description_required_error_msg" ng-message="required">Description is required.</div>
                    <div id="description_too_long_error_msg" ng-message="maxlength">Description is too long.</div>
                </div>
            </div>
            
            <!-- Calories -->
            <div class="form-group" ng-class="{ 'has-error': addModifyMeal.calories.$invalid && !addModifyMeal.calories.$pristine }">
                <label>Calories</label>
                <input class="form-control"
                       type="number"
                       name="calories"
                       ng-model="calories"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Calories"
                       required
                       min="0"
                       max="10000" />

                <div id="calories_error_msg"class="help-block" ng-messages="addModifyMeal.calories.$error" role="alert" ng-show="addModifyMeal.calories.$invalid && !addModifyMeal.calories.$pristine">
                    <div id="calories_required_error_msg" ng-message="required">Calories is required.</div>
                    <div id="calories_min_error_msg" ng-message="min">Calories should be equal or greater than 0.</div>
                    <div id="calories_max_error_msg" ng-message="max">Calories should be equal or less than 10000.</div>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <button id="add_modify_meal_btn" class="btn btn-success" type="submit" ng-disabled="addModifyMeal.$invalid" ng-click="saveMeal()">&#10003; Save Changes</button>
            <button id="cancel_add_modify_meal_btn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        
    </form>
    
</div>


