<div id="alert_msg" class="modal-body" style="padding:0px">
    <div class="alert alert-{{data.mode}}" style="margin-bottom:0px">
        <button id="alert_close_btn" type="button" class="close" data-ng-click="close()" >
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <strong>{{data.title}}</strong><span ng-bind='data.text'></span>
    </div>
</div>