<div id="change_user_password_dialog" class="_user_dialog" ng-cloak>

    <form name="changePassword" novalidate>

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Change Password</h3>
        </div>
        <div class="modal-body" id="modal-body">

            <!-- Username -->
            <div class="form-group" ng-class="{ 'has-error': changePassword.username.$invalid && !changePassword.username.$pristine }">
                <label>Username</label>
                <input class="form-control"
                       type="text"
                       name="username"
                       ng-disabled="true"
                       ng-model="username"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Username"
                       required
                       ng-maxlength="15" />
            </div>

            <!-- Current Password -->
            <div class="form-group" ng-hide="!include_current_password" ng-class="{ 'has-error': changePassword.current_password.$invalid && !changePassword.current_password.$pristine }">
                <label>Current password</label>
                <input class="form-control"
                       type="password"
                       name="current_password"
                       autofocus
                       ng-disabled="!include_current_password"
                       ng-model="current_password"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Current password"
                       ng-required="include_current_password" />

                <div id="current_password_error_msg" class="help-block" ng-messages="changePassword.current_password.$error" role="alert" ng-show="changePassword.current_password.$invalid && !changePassword.current_password.$pristine">
                    <div id="current_password_required_error_msg" ng-message="required">Password is required.</div>
                </div>
            </div>

            <!-- New Password -->
            <div class="form-group" ng-class="{ 'has-error': changePassword.new_password.$invalid && !changePassword.new_password.$pristine }">
                <label>Password</label>
                <input class="form-control"
                       type="password"
                       name="new_password"
                       autofocus
                       ng-model="new_password"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Password"
                       required
                       ng-minlength="4"
                       ng-maxlength="10" />

                <div id="new_password_error_msg" class="help-block" ng-messages="changePassword.new_password.$error" role="alert" ng-show="changePassword.new_password.$invalid && !changePassword.new_password.$pristine">
                    <div id="new_password_required_error_msg" ng-message="required">Password is required.</div>
                    <div id="new_password_too_short_error_msg" ng-message="minlength">Password is too short.</div>
                    <div id="new_password_too_long_error_msg" ng-message="maxlength">Password is too long.</div>
                </div>
            </div>

            <!-- New Password 2 -->
            <div class="form-group" ng-class="{ 'has-error': changePassword.new_password2.$invalid && !changePassword.new_password2.$pristine }">
                <label>Repeat</label>
                <input class="form-control"
                       type="password"
                       name="new_password2"
                       ng-model="new_password2"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Repeat password"
                       required
                       ng-minlength="4"
                       ng-maxlength="10"
                       match-password="new_password" />

                <div id="new_password2_error_msg" class="help-block" ng-messages="changePassword.new_password2.$error" role="alert" ng-show="changePassword.new_password2.$invalid && !changePassword.new_password2.$pristine">
                    <div id="new_password2_required_error_msg" ng-message="required">Password is required.</div>
                    <div id="new_passwords_doesnt_match_error_msg" ng-message="passwordMatch">Passwords doesn't match.</div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button id="change_user_password_btn" class="btn btn-success" type="submit" ng-disabled="changePassword.$invalid" ng-click="saveUser()">&#10003; Save Changes</button>
            <button id="cancel_change_user_password_btn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
                   
    </form>

</div>





