<div id="confirmation_dialog" ng-cloak>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{data.title}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="md-dialog-content">
            {{data.text}}
        </div>
    </div>
    <div class="modal-footer">
        <button id="confirmation_ok_btn" class="btn btn-success" ng-click="ok()">Ok</button>
        <button id="confirmation_cancel_btn" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
