<div class="_form_container">
    <form name="loginForm" ng-submit="login()" novalidate>
        <h3>Log in</h3>
        <br>

        <!-- Username -->
        <div class="form-group" ng-class="{ 'has-error': loginForm.username.$invalid && !loginForm.username.$pristine }">
            <label>Username</label>
            <input class="form-control"
                   type="text"
                   name="username"
                   autofocus
                   ng-model="username"
                   placeholder="Username"
                   required />

            <div id="username_error_msg" class="help-block" ng-messages="loginForm.username.$error" role="alert" ng-show="loginForm.username.$invalid && !loginForm.username.$pristine">
                <div id="username_required_error_msg" ng-message="required">Username is required.</div>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && !loginForm.password.$pristine }">
            <label>Password</label>
            <input class="form-control"
                   type="password"
                   name="password"
                   ng-model="password"
                   placeholder="Password"
                   required />

            <div id="password_error_msg" class="help-block" ng-messages="loginForm.password.$error" role="alert" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
                <div id="password_required_error_msg" ng-message="required">Password is required.</div>
            </div>
        </div>


        <button id="login_btn" class="btn btn-success" type="submit" ng-disabled="loginForm.$invalid">Log in</button>

        <div class="_create_new_account_container"><a id="create_new_account_link" class="_pointer" ng-click="createNewAccount()">Create new account</a></div>

        <div id="login_error_msg" class="help-block" ng-show="show_login_error_msg">Error. Username or password wrong!</div>

    </form>

</div>
