<ol class="breadcrumb" ng-show="show_users_in_breadcrumbs">
    <li><a class="_pointer" ng-click="goBackToUsers()">Users</a></li>
    <li class="active">Meals</li>
</ol>

<ol class="breadcrumb" ng-show="!show_users_in_breadcrumbs">
    <li class="active">Meals</li>
</ol>

<div ng-include="'partials/toolbar.html'"></div>

<span>

    <form name="mealsFilterForm" novalidate>
        <table style="vertical-align='middle'; width: 750px;">
            <tr>
                <td colspan="3">
                    <h5>From:</h5>
                </td>
                <td colspan="3">
                    <h5>To:</h5>
                </td>
            </tr>
            <tr style="float='left'">
                <td class="form-group" ng-class="{ 'has-error': mealsFilterForm.dateFrom.$invalid && !mealsFilterForm.dateFrom.$pristine }">
                    <input type="text" class="form-control" name="dateFrom" uib-datepicker-popup="MM/dd/yyyy" ng-model="dateFrom" is-open="dateFromPopup.opened" datepicker-options="dateOptions" close-text="Close"/>
                 </td>
                 <td style="padding='5px'">
                    <button type="button" class="btn btn-default" ng-click="openDateFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
                </td>
                <td style="padding='10px'" class="form-group" ng-class="{ 'has-error': mealsFilterForm.TimeFrom.$invalid && !mealsFilterForm.TimeFrom.$pristine }">
                    <div uib-timepicker ng-model="timeFrom" name="timeFrom" show-meridian="false"></div>
                </td>
                
                <td class="form-group" ng-class="{ 'has-error': mealsFilterForm.dateTo.$invalid && !mealsFilterForm.dateTo.$pristine }">
                    <input type="text" class="form-control" name="dateTo" uib-datepicker-popup="MM/dd/yyyy" ng-model="dateTo" is-open="dateToPopup.opened" datepicker-options="dateOptions" close-text="Close"/>
                 </td>
                 <td style="padding='5px'">
                    <button type="button" class="btn btn-default" ng-click="openDateTo()"><i class="glyphicon glyphicon-calendar"></i></button>
                </td>
                <td style="padding='10px'" class="form-group" ng-class="{ 'has-error': mealsFilterForm.TimeTo.$invalid && !mealsFilterForm.TimeTo.$pristine }">
                     <div uib-timepicker ng-model="timeTo" name="timeTo" show-meridian="false"></div>
                </td>
            </tr>
        </table> 
    </form>

    <hr/>
    <div class="container-fluid">
        <div class="_calories_expected_row" ng-hide="current_user_calories_expected_per_day == -1" ng-style="calories_today_style">
            Calories expected per day: {{current_user_calories_expected_per_day}} - Calories today: {{calories_today}}
        </div>
    </div>

    <hr/>

    <table class="_table _bordered _striped">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Calories</th>
            <th class="_center">Actions</th>
        </tr>
        <tr ng-repeat="meal in meals | datetimefilter:dateFrom:dateTo:timeFrom:timeTo">
            <td>{{meal.formatted_date}}</td>
            <td>{{meal.formatted_time}}</td>
            <td>{{meal.description}}</td>
            <td>{{meal.calories}}</td>
            <td class="_center">
                <button class="_ripple _modify_meal_btn" ng-click="modifyMeal(meal)">&#9998;</button>
                <button class="_ripple _delete_meal_btn" ng-click="deleteMeal(meal._id)">&#10007;</button>
            </td>
        </tr>
    </table>

    <br>

    <button id="add_new_meal_btn" class="btn btn-success" ng-click="addNewMeal()">&#9998; Add New Meal</button>

</span>
