<div id="add_user_dialog" class="_user_dialog" ng-cloak>

    <form name="modifyUser" novalidate>
    
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Edit User</h3>
        </div>
        
        <div class="modal-body" id="modal-body">

           <!-- Username -->
            <div class="form-group" ng-class="{ 'has-error': modifyUser.username.$invalid && !modifyUser.username.$pristine }">
                <label>Username</label>
                <input class="form-control"
                       type="text"
                       name="username"
                       ng-disabled="true"
                       ng-model="username"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Username"
                       required />
            </div>

            <!-- Calories expected per day -->
            <div class="form-group" ng-class="{ 'has-error': modifyUser.calories_expected_per_day.$invalid && !modifyUser.calories_expected_per_day.$pristine }">
                <label>Calories expected per day</label>
                <input class="form-control"
                       type="number"
                       name="calories_expected_per_day"
                       autofocus
                       ng-model="calories_expected_per_day"
                       ng-model-options="{ debounce: 250 }"
                       placeholder="Calories expected per day"
                       required
                       min="0"
                       max="10000" />

                <div id="calories_expected_per_day_error_msg" class="help-block" ng-messages="modifyUser.calories_expected_per_day.$error" role="alert" ng-show="modifyUser.calories_expected_per_day.$invalid && !modifyUser.calories_expected_per_day.$pristine">
                    <div id="calories_expected_per_day_required_error_msg" ng-message="required">Calories expected per day is required.</div>
                    <div id="calories_expected_per_day_min_error_msg" ng-message="min">Calories expected per day should be equal or greater than 0.</div>
                    <div id="calories_expected_per_day_max_error_msg" ng-message="max">Calories expected per day should be equal or less than 10000.</div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button id="modify_user_btn" class="btn btn-success" type="submit" ng-disabled="modifyUser.$invalid" ng-click="saveUser()">&#10003; Save Changes</button>
            <button id="cancel_modify_user_btn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        
    </form>
    
</div>
