<div class="_toolbar_container" ng-controller="ToolbarCtrl" style="min-height:50px" ng-cloak>
    <span>
        <span style="font-size: 15px;">{{username}}</span>
        <md-menu>
            <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-icon="more_vert"></md-icon>
            </md-button>
            <md-menu-content width="6">
                <md-menu-item md-menu-origin md-menu-align-target >
                    <md-button id="toolbar_change_user_settings" ng-click="changeUserSettings()">Change user settings</md-button>
                </md-menu-item>
                <md-menu-item md-menu-origin md-menu-align-target >
                    <md-button id="toolbar_change_user_password" ng-click="changeUserPassword()">Change user password</md-button>
                </md-menu-item>
                <md-menu-item md-menu-origin md-menu-align-target >
                    <md-button id="toolbar_logout_btn" ng-click="logOut()">Log out</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </span>
</div>

