<ol class="breadcrumb">
    <li class="active">Users</li>
</ol>

<div ng-include="'partials/toolbar.html'"></div>

<div>

    <form class="form-inline">
        Search: <input class="form-control" ng-model="query.username">
        &nbsp;
        Sort by:
        <select class="form-control" ng-model="orderBy">
            <option value="username">Username</option>
            <option value="-username">Username (desc)</option>
            <option value="admin">Admin</option>
            <option value="-admin">Admin (desc)</option>
        </select>
    </form>

    <br/>

    <table class="_table _bordered _striped">
        <tr>
            <th>Username</th>
            <th class="_center">Admin</th>
            <th class="_center">Calories expected per day</th>
            <th class="_center">Actions</th>
        </tr>
        <tr ng-repeat="user in users | filter:query:strict | orderBy:orderBy">
            <td><a href="#/meals/{{user.username}}">{{ user.username}}</a></td>

            <td class="_center">  <input type="checkbox" ng-model="user.admin" ng-disabled="true"> </td>
            <td class="_center">{{ user.calories_expected_per_day }}</td>
            <td class="_center">
                <button class="_ripple _modify_user_btn" ng-click="modifyUser(user.username, user.calories_expected_per_day)">&#9998;</button>
                <button class="_ripple _change_user_password_btn" ng-click="changeUserPassword(user.username)">&#9999;</button>
                <button class="_ripple _delete_user_btn" ng-disabled="user.username == 'admin'" ng-click="deleteUser(user.username)">&#10007;</button>
            </td>
        </tr>
    </table>

    <br>

    <button id="create_new_user_btn" class="btn btn-success" ng-click="addNewUser()">&#9998; Create New User</button>

</div>
