/**********************************************/
/* Element styles */

html, body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height:1.5
}

body {
    padding: 30px;
}

html {
    overflow-x: hidden
}

h1, h2, h3, h4 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

h1 {
    font-size: 36px;
    color: #219892;
    border-bottom: 1px solid #219892;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    display: table;
}

table, th, td {
    border: none;
}

/**********************************************/
/* Bootstrap styles */

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #219892 !important;
}

/**********************************************/
/* Own styles */

/* Containers */
._form_container {
    padding-top: 50px;
    padding-right: 16px;
    padding-bottom: 0.01em;
    padding-left: 16px;
    margin: 0 auto;
    width: 500px;
}

._toolbar_container {
    text-align: right;
    font-size: 18px;
}

._link_container {
    text-align: right;
    font-size: 14px;
}

/* Tables */
._table td, ._table th {
    padding: 6px 8px;
    display: table-cell;
    text-align: left;
    vertical-align:top;
}

._table th:first-child, ._table td:first-child {
    padding-left:16px;
}

._bordered tr {
    border-bottom: 1px solid #ddd;
}

._striped tbody tr:nth-child(even) {
    background-color:#f1f1f1;
}

/* Table's buttons */
._ripple {
    position: relative;
    overflow: hidden;
}

._ripple:after {
    content: "";
    background: #ccc;
    position: absolute;
    padding: 300%;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.8s;
}

._ripple:active:after {
    padding: 0;
    opacity: 1;
    transition: 0s;
}

/* General */
._center {
    text-align: center !important;
}

._pointer {
    cursor: pointer;
}

/* Specific */
._create_new_account_container {
    text-align: right;
}

._user_dialog {
    width: 600px;
}

._calories_expected_row {
    padding: 5px;
    border-radius: 0.3em;
}

